Rag pipeline & chatbot.json
{
  "name": "Rag pipeline & chatbot",
  "nodes": [
    {
      "parameters": {
        "content": "## 1) Rag pipeline and chatbot\n",
        "height": 80,
        "width": 352,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -176
      ],
      "typeVersion": 1,
      "id": "8acbd80b-8f80-41e6-9fc0-dc859be8462b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1B8a8OpGfNkfFQUFA8-E9dcuoKDBAvvob",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1B8a8OpGfNkfFQUFA8-E9dcuoKDBAvvob"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        -48
      ],
      "id": "1b1c1961-9bac-4a9b-ae81-0c8cea08388d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QYkozJZjqTQoikMn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        -48
      ],
      "id": "10f5cf66-2593-40bf-9114-3a0dc823b908",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QYkozJZjqTQoikMn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -352,
        -48
      ],
      "id": "c78ecc72-ef66-4954-8a78-03610edf86a9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "065sH4mL96I4H5SC",
          "name": "Demo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -480,
        128
      ],
      "id": "627b7cb4-d360-4cdf-aa7b-323deb92a153",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "6eQjNoXNA0lSyewF",
          "name": "Demo AI"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -304,
        128
      ],
      "id": "e0f77d35-adfc-4ec8-ab96-bb8cd7171d20",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -224,
        288
      ],
      "id": "33745853-3f0b-49f1-b288-450ef6e646c3",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        -48
      ],
      "id": "8095e101-00d3-409a-9ea2-501c4657a66e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        -48
      ],
      "id": "ce1dd91b-ce72-47e8-abaf-4f4a3761909e",
      "name": "When chat message received",
      "webhookId": "562ecb83-b565-4429-abd6-7f5c5b80c794"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {
          "maxTokens": 2666
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        160
      ],
      "id": "4116f8d8-1e84-4e2b-b242-0e0ec71a05c4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ccuOe87IO6m5f697",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the policy and faq",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        192
      ],
      "id": "3159bf12-7c21-49fa-ad64-04233a8d4cbb",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "065sH4mL96I4H5SC",
          "name": "Demo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        368
      ],
      "id": "8c7e169a-b25e-418f-8997-507c3b845cea",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "6eQjNoXNA0lSyewF",
          "name": "Demo AI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f2bb294f-623a-487c-be1a-db1d6dd5ec20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6c939a35d353364a2b368edb3997e147c8662e7eaffb2b975b0f8e5b2b9567c"
  },
  "id": "GeQmBJYDb768nGON",
  "tags": []
}